@using Assesment.Infrastructure.Models;
@model IList<Question>

@{
    ViewBag.Title = "Questions";
}

<div class="card">
    <h5 class="card-header">Questions</h5>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="StackOverflow" asp-action="Details" asp-route-id="@question.question_id">@question.Title</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>